html, body { 
    height: 100%;
     width: 100%; 
     margin: 0;
     overflow:hidden;
}

.clear{
    clear:both;
}

.topbar{
    height: 40px;
    width:100%;
    background:#000;
}



.container{
    height: calc(100% - 40px);
    position:relative;
    
}


.sidebar {
    background: blue;
    display:inline-block;
    position:relative;
    width:16.5%;
    height:100%;
    overflow:hidden;
}
.sidebar .sidebar-head {
    background: #ff6a00;
    height: 80px;
}
.sidebar .sidebar-content {
    background: blue;
    overflow-y:auto;
    overflow-x:hidden;
    height: calc(100% - 80px);
}


.content-section{
    display:inline-block;
    position:relative;
    width:83%;
    height:100%;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    /*overflow-y:hidden;
    white-space:nowrap;
    overflow-x:auto;
    position:relative;
    display:inline-block;
    width: 7%;*/
}

.box{
    width:400px;
    height: 100%;
    background-color: red;
    margin-right:10px;
    display:inline-block;
}

.box .box-tool-bar{
    height:40px;
    background: #ffffff;
    position: relative;
}



.box .box-tool-bar .controls{
    right: 0px; 
    position: absolute;
}

.box .box-tool-bar .controls i{
    font-size:16px;
    cursor:pointer;
}

.box .content{
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    white-space:normal;
}



.box:last-child{
    margin-right:30%;
}
.box:first-child{
    margin-left:10px;
}



